{
  "extends":  [
    "plugin:@typescript-eslint/recommended",
    "prettier",
  ],
  "parser":  "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion":  2018,
    "sourceType": "module"
  },
  "env": {
    "es6": true,
    "mocha": true
  },
  "rules": {
    "prefer-const": "off"
  }
}
